div{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    //border: 1px solid #ccc;
    //border-radius: 5px;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid red;
}
.input{
    border: none;
}

html{
    background-color:rgba(55, 149, 193, 0.723);
}

/**{
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background: none;
    outline: 0;
    border-bottom: 1px solid black;

}*/

