
<body  style="background-color: rgba(55, 149, 193, 0.723);">
    <div>
        <h2 style="text-align: center; padding-top: 40px; color:white">
            Cierre de orden
        </h2>
    </div>
    <mat-dialog-content>
        <form class="formu" style="background-color: white; margin: 15px; padding: 15px;">
            <p>
                <label style="color:black">No. Orden</label>
                <input class="controls" type="text" name="orden" id="orden" disabled [(ngModel)]="orden" >
            </p>
            <p>
                <label style="color:black">Ejecutado Por:</label>
                <input class="controls" type="text" name="ejecutado" id="ejecutado" [(ngModel)]="ejecutado_por">
            </p>
            
            <p>
                <label style="color:black">Contrato</label>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="onContratoSelected($event)">
                      <mat-option *ngFor="let codes of contratos" [value]="codes.codContrato" >
                        <span style="font-size: 14px;font-weight: bold;">{{codes.codContrato}}</span> - <span style="font-size: 12px;">{{codes.descripcion}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </p>
            <p>
                <label style="color:black">Cod. Grupo</label>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="onCodigoGrupoSelected($event)">
                      <mat-option *ngFor="let codes of codigosGrupo" [value]="codes.codGrupo" >
                        <span style="font-size: 14px;font-weight: bold;">{{codes.codGrupo}}</span> - <span style="font-size: 12px;">{{codes.descripcion}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
            </p>
            <p>
                <label style="color:black">Actividad: </label>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="onActividadSelected($event)" [disabled]="inhabilitarActividades">
                      <mat-option *ngFor="let codes of actividades" [value]="codes.codActividad" >
                        <span style="font-size: 14px;font-weight: bold;">{{codes.codActividad}}</span> - <span style="font-size: 12px;">{{codes.descripcion}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </p>

            <p>
                <label style="color:black">Cod. Cierre</label>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="onCodigoCierreSelected($event)" [disabled]="inhabilitarCodCierre">
                      <mat-option *ngFor="let codes of codigosCierre" [value]="codes.code" >
                        <span style="font-size: 14px;font-weight: bold;">{{codes.code}}</span> - <span style="font-size: 12px;">{{codes.descripcion}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </p>

            <p>
                <label style="color:black">Fecha Ejecución</label>
                <mat-form-field>
                    <input matInput placeholder="Fecha Ejecucion" [matDatepicker]="picker" (focus)="picker.open()" readonly [(ngModel)]="dateStart_selected" max="{{date_current}}" name="dateStart">
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>
            </p>

            <p>
                <label style="color:black">Hora Inicio</label>
                <!--<input class="controls" type="text" name="inicio" id="inicio" [(ngModel)]="hora_inicio">-->
                <input type="time" id="appt" name="appt" min="00:00" max="23:59" required [(ngModel)]="hora_inicio">
            </p>
            <p>
                <label style="color:black">Hora Finalización</label>
                <!--<input class="controls" type="text" name="fin" id="fin" [(ngModel)]="hora_fin">-->
                <input type="time" id="appt" name="appt" min="00:00" max="23:59" required [(ngModel)]="hora_fin">
            </p>
            <p>
                <label style="color:black">Ingresado por</label>
                <input class="controls" type="text" name="ingresado" id="ingresado" [(ngModel)]="ingresado">
            </p>
            
            <p>
                <label style="color:black; vertical-align: top;">Observaciones:</label>
                <textarea class="controls" name="observaciones" matInput [(ngModel)]="observaciones"></textarea>
            </p>
        </form>
        
        <form class="formu" style=" margin: 15px; padding: 15px; place-items: center;">
                
            <div mat-dialog-actions>
                <button mat-raised-button color="warn" mat-dialog-close style="justify-content: center" >CERRAR</button>
            </div>

            <div mat-dialog-actions>
                <button mat-raised-button color="accent" (click)="save()">GUARDAR</button>
            </div>
        </form>
    

    </mat-dialog-content>
    
</body>
