
<body style="background-color: rgba(55, 149, 193, 0.723);">
    <form style="background-color: white; margin: 15px; padding: 15px;">
        <p>
            <label>No. Orden</label>
            <input type="text" name="orden" id="orden" disabled [(ngModel)]="orden">
        </p>
        <p>
            <label>Actividad</label>
            <input type="text" name="actividad" id="actividad">
        </p>
        <p>
            <label>Contrato</label>
            <input type="text" name="contrato" id="contrato">
        </p>
        <p>
            <label>Cod. Cierre</label>
            <input type="text" name="cierre" id="cierre">
        </p>
        <p>
            <label>Cod. Grupo</label>
            <input type="text" name="grupo" id="grupo">
        </p>
        <p>
            <label>Ejecutado Por:</label>
            <input type="text" name="ejecutado" id="ejecutado">
        </p>
        <p>
            <label>Fecha Ejecución</label>
            <input type="text" name="ejecucion" id="ejecucion">
        </p>
        <p>
            <label>Hora Inicio</label>
            <input type="text" name="inicio" id="inicio">
        </p>
        <p>
            <label>Hora Finalización</label>
            <input type="text" name="fin" id="fin">
        </p>
        <p>
            <label>Ingresado por</label>
            <input type="text" name="ingresado" id="ingresado">
        </p>
        <p>
            <label>Observación</label>
            <textarea matInput></textarea>
        </p>
    
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </form>
</body>
