.logo{
    width: 100px;
    height: 30;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo:hover{
    width: 110px;
    height: 50px;
    cursor: pointer;
}

.titulo{
    text-align: center;
    font-size: 30px;
    font-family: 'calibri';
    color: #1f53c5;
    margin-bottom: 20px;
}