<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table tablePrinc">
    <!-- Position Column -->
    <ng-container matColumnDef="No. Orden" class="block">
      <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">No. Orden</th>
      <td mat-cell *matCellDef="let element">{{element.numOrden}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="CI. Orden">
      <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">CI. Orden</th>
      <td mat-cell *matCellDef="let element">{{element.ciOrden}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Actividad PM">
      <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Actividad PM</th>
      <td mat-cell *matCellDef="let element">{{element.actividad}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="MRU-Security">
      <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">MRU-Security</th>
      <td mat-cell *matCellDef="let element">{{element.mru}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="P. Trabajo. Res.">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">P. Trabajo. Res.</th>
        <td mat-cell *matCellDef="let element">{{element.pTrabajo}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Fecha Inicio">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Fecha Inicio</th>
        <td mat-cell *matCellDef="let element">{{element.fechaInic}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Canton">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Cantón</th>
        <td mat-cell *matCellDef="let element">{{element.canton}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Distrito">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Distrito</th>
        <td mat-cell *matCellDef="let element">{{element.distrito}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Calle y No.">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Calle y No.</th>
        <td mat-cell *matCellDef="let element">{{element.calleNum}}</td>
    </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="Ver">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Ver</th>
        <td mat-cell *matCellDef="let element"><img src="assets/images/ojo.png"></td>
    </ng-container>
    
      <!-- Symbol Column -->
    <ng-container matColumnDef="Modificar">
        <th mat-header-cell *matHeaderCellDef style="color:black; background-color: rgba(55, 149, 193, 0.723);">Modificar</th>
        <td mat-cell *matCellDef="let element"><img src="assets/images/editar.png"></td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>